.Ingredients {
  &-Name {
    font-size: 18px;
  }

  &-Price {
    margin-left: 15px;
    font-size: 18px;
  }

  &-Wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &-Item {
    max-width: 200px;
    margin: 0 10px;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.2s ease-in-out;
    padding: 5px;

    &:hover {
      transform: scale(1.05);
      transition: transform 0.2s ease-in-out;
    }
  }
}
