.Ingredients {
  &-Name {
    font-size: 18px;
  }

  &-Price {
    margin-left: 15px;
    font-size: 18px;
  }

  &-Wrapper {
    display: flex;
    flex-direction: row;
    max-width: 1400px;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 20px;
  }

  &-Item {
    max-width: 200px;
    margin: 10px;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.2s ease-in-out;
    padding: 5px;
    border-radius: 10px;

    &:hover {
      transform: scale(1.05);
      transition: transform 0.2s ease-in-out;
    }

    &_isSelected {
      background-color: #5eb5e0;
      transform: scale(1.05);
    }
  }

  &-ImageWrapper {
    min-width: 150px;
    max-height: 150px;
    text-align: center;
  }

  &-Image {
    max-width: 120px;
    max-height: 120px;
  }
}
